/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto_Condensed-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto_Condensed-Regular.ttf") format("truetype");
  font-weight: 500;
}

.title,
h1,
h2,
nav {
  font-family: "Poppins", sans-serif; /* Titres et menus */
}

:root {
  --text-color: #1d3e56;
  --second-text-color: #00749e;
  --box-color: #74daf8;
  --second-box-color: #7ce2fe;
  --border-color: #60b3d7;
  --border-or-separate-color: #8dcae3;
  --border-or-separate-color-alt: #a9daed;
  --interractive-component: #bee7f5;
  --interractive-component-hover: #00000077;
  --background: #f1fafd;
  --margin-site: 10px;
  --gap: 20px;
  --none: 0;
  --width-90: 90%;
  --general-text-color: #9ac7f1;
  --black: #000;
  --service-item : #fff;
}

a {
  color: var(--second-text-color);
}

.dark-mod {
  --text-color: #c2f3ff;
  --second-text-color: #75c7f0;
  --box-color: #a8eeff;
  --second-box-color: #7ce2fe;
  --border-color: #197cae;
  --border-or-separate-color: #1b537b;
  --border-or-separate-color-alt: #154467;
  --interractive-component: #113555;
  --background: #0d141f;
  color: #ffffff;
  --interractive-component-hover: #00000077;
  --service-item : #031a2e;
}

* {
  margin: var(--none);
  padding: var(--none);
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

.container {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: auto; /* active le scroll */
  height: 100vh;
}

.bg {
  width: 100%;
  background: url("../../assets/images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: var(--width-90);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--interractive-component);
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.titre {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--gap);
}

li.service-item {
  position: relative;
}

li.service-item a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

li.service-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  left: 50%;
  bottom: -6px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

li.service-item a.active::before {
  width: 100%;
}

#theme-icon {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease,
    -webkit-transform 0.5s ease;
}

#toggle-theme {
  cursor: pointer;
}

.animate {
  -webkit-transform: rotate(180deg) scale(1.2);
  -ms-transform: rotate(180deg) scale(1.2);
  transform: rotate(180deg) scale(1.2);
  opacity: 0;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.greeting-text {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--gap);
  color: #fff;
}

.greeting-text strong {
  font-size: 3rem;
}

b {
  font-size: 2rem;
}

.greeting-text strong span {
  color: var(--second-text-color);
}

.greeting-text p {
  width: 70%;
  font-size: 1.3rem;
  text-align: justify;
}

.btn {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--interractive-component);
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px var(--second-box-color);
  box-shadow: 0 0 7px var(--second-box-color);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#element {
  background: linear-gradient(
    120deg,
    var(--general-text-color),
    var(--text-color),
    var(--second-text-color)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover {
  border: 1px solid var(--border-or-separate-color-alt);
  color: var(--text-color);
  -webkit-box-shadow: 0 0 15px var(--second-box-color);
  box-shadow: 0 0 15px var(--second-box-color);
  background-color: var(--box-color);
}

.download {
  width: 200px;
  background-color: #fff;
}

.greeting-wrapper {
  position: relative;
  width: 50%;
  height: 80%;
}

.bg-calque {
  background: var(--interractive-component-hover);
}

.greeting-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.profile-img {
  width: 100%;
  height: 100%;
}

.about {
  height: 100vh;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 0 auto;
}

.about-containt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.about-containt img {
  border-radius: 15%;
  -webkit-box-shadow: 10px 10px 1px var(--second-box-color);
  box-shadow: 10px 10px 1px var(--second-box-color);
}

.about-text {
  width: 60%;
}

.title,
h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.about p {
  width: 100%;
  line-height: 25px;
}

.services,
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  gap: var(--gap);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services ul li {
  width: 30%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--service-item);
  box-shadow: 0px 0px 6px var(--box-color);
  cursor: pointer;
  transition: .5s;
}

.services ul li:hover{
    box-shadow: 0px 0px 18px var(--box-color);
}

.services ul li p {
  width: 80%;
  text-align: justify;
  line-height: 25px;
}

.projects div.groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: var(--gap);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  background-color: var(--service-item);
  padding: 15px;
  border-radius: 15px;
}

h3 {
  color: var(--second-text-color);
}

.contact {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: var(--gap);
}
